#div-con {
  background-color: white;
}
body {
  background-color: gray;
}
#top-bar {
  height: 50px;
  background-color: white;
}
#banner {
  background-color: #2987ff;
  height: 200px;
}
#portfolio {
  background-color: aquamarine;
}

