th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
			Static summary </span>
	</div>
	<h3>Enter user name and password:</h3>
	<form name='f' th:action="@{/j_spring_security_check}" method='POST'>
		<table>
			<tr>
				<td>User:</td>
				<td><input type='text' name='username' value=''></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password' /></td>
			</tr>
			
            <tr>
				<td>Remember Me?</td>
				<td><input type="checkbox" name="remember-me" /></td>
			</tr>
			<tr>
				<td><input name="submit" type="submit" value="submit" /></td>
			</tr>
		</table>
	</form>
	<br> Username/pass:
	<ul>
		<li>dbuser1/123</li>
		<li>dbadmin1/123</li>
	</ul>
</body></html>