
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #d47e7e;
  }
  li.menu {
    float: left;
  }
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #666;
    text-decoration: none;
  }
div.a {
    list-style-type: circle;
  }
h1{
    text-align: center;
}
.img{
    display: block;
    margin:auto;
    margin-left: auto;
    margin-right: auto;
}
td, th {  
    text-align: left;
    padding: 4px;
}