@import url("https://fonts.googleapis.com/css?family=Kanit");
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
img {
    width:200px; 
    height:200px;
}
div{
    text-align: center;
}