<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>register</title>
</head>

<body>
    <th:block th:include="/_menu"></th:block>
    <h1>registerSuccessfulPage</h1>
    <h2><a th:href="@{/login}">Login </a> </h2>
</body>

</html>