<!doctype html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="utf-8">
  <title>Angular</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/styles.7fe2752477d7227aa0d8.css}">
</head>

<body>
  <nav class="navbar navbar-light bg-light d-flex justify-content-start">
    <a class="navbar-brand" th:href="@{/home}">Home</a>
    <a class="navbar-brand" th:href="@{/index}">Calculator</a>
    <a class="navbar-brand" th:href="@{/admin}">Admin</a>
    <a class="navbar-brand" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
    </nav>
  <h4>
    Size Calculator </h4>

  <div class="mat-app-background basic-container">
    <app-root></app-root>
  </div>
  <script type="text/javascript" th:src="@{/js/zone.js}"></script>
  <script type="text/javascript" th:src="@{/js/es2015_polyfills.2fb2e38b1ca7c76ed0d5.js}"></script>
  <script type="text/javascript" th:src="@{/js/main_dc64.js}"></script>
  <script type="text/javascript" th:src="@{/js/polyfills.8bbb231b43165d65d357.js}"></script>
  <script type="text/javascript" th:src="@{/js/runtime.26209474bfa8dc87a77c.js}"></script>


</body>

</html>