<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	  
	<title>User Info</title>
</head>

<body>
	<nav class="navbar navbar-light bg-light d-flex justify-content-start">
		<a class="navbar-brand" th:href="@{/home}">Home</a>
		<a class="navbar-brand" th:href="@{/index}">Calculator</a>
		<a class="navbar-brand" th:href="@{/admin}">Admin</a>
		<a class="navbar-brand" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
		</nav>
	<h3>
		Welcome : <span th:utext="${userInfo.getFirstName()}"></span> <span th:utext="${userInfo.getLastName()}"></span>
	</h3>
	<b>This is protected page!</b>
	<br />
	<br />
	<div>
		Email: <span th:if="${userInfo != null}" th:utext="${userInfo.getEmail()}"></span>
	</div>
	<div>
		Birth Date: <span th:if="${userInfo != null}" th:utext="${userInfo.getBirthDate()}"></span>
	</div>
	<div>
		Gender: <span th:if="${userInfo != null}" th:utext="${userInfo.getGender()}"></span>
	</div>
</body>

</html>