.default {
  background-color: red;
  height: 100px;
  font-size: 40px;
}

@media (min-width: 576px) {
  
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 767px) {
  .maginTop {
    margin-top: 20px
  }
}
/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .mobileOnly {
      display: none;
      font-size: 20px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .pc {
    font-size: 40px;
  }
  .centerimg {
    margin: auto;
  }
}             
