
.group-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-container{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-content:flex-start;
}
.maxwidth{
    width : 200px;
}
.item{
    margin: 10px;
}
.group-inline {
    display: flex;
    justify-content:space-between;
    align-items:baseline;
}
.button-vote{
    border-radius: 96px 96px 96px 96px / 78px 78px 78px 78px;
    border: solid black 2px;
    width: 50%;
    text-align: center;

}